{% extends "base.html" %}

{% block body %}

<div style="margin-top:22px;" align="center">
  <table><tbody><tr>
    <td style="width:350px;vertical-align:top;float:right;padding-right:42px;">
      <h1>Worker instructions</h1>
      <p class="basefontsize">
        HITs - <i>Human Intelligence Tasks</i> - are individual tasks that you work on.
        Here is the <a href="/hits">List of HITs</a>.
      </p>
    </td>
    <td style="width:350px;vertical-align:top;padding-left:42px;background-image: url(/images/intro/bg_gradient_separator.gif); background-repeat: no-repeat; height:401px;">
      <h1>Requester instructions</h1>
      <p>
        To publish new HITs:
      </p>
      <p>
        Upload a HIT Templates (HTML file) and publish HITs by uploading an
        inputs CSV file.
        <br /><br />
        These tasks can be performed from the
        <a href="/hits">List of HITs</a> page.
      </p>
      <br /><br />
      <h2>Optional command line tools for requesters</h2>
      <p>
        The two command line tools described below can publish hits and and
        dump the results of all the HITs for a particular HIT Template all at
        once.
      </p>
      <p>
        Only use the command line tools to dump the results for HITs that were
        published using the command line tools.
      </p>
      <h3>Publish HITs</h3>
      <p>
        To publish new HITs, <tt>cd</tt> to the root directory of this
        server's code repository and run the command:
        <pre>  python manage.py publish_hits TEMPLATE_FILE_PATH CSV_FILE_PATH</pre>
        with <tt>TEMPLATE_FILE_PATH</tt> replaced with the path to the HIT template
        file and <tt>CSV_FILE_PATH</tt> replaced with the path to the CSV file
        containing the data for the individual HITs.
      </p>
      <h3>Get results</h3>
      <p>
        To get the results of the completed HITs, <tt>cd</tt> to the root
        directory of this server's code repository and run the command:
        <pre>  python manage.py dump_results TEMPLATE_FILE_PATH RESULTS_TSV_FILE_PATH</pre>
        with <tt>TEMPLATE_FILE_PATH</tt> replaced with the path to the HIT
        template
        and
        with <tt>RESULTS_TSV_FILE_PATH</tt> replaced with the desired path to
        where the results will be saved. The format is:
        <ul>
          <li>a header row for the first line</li>
          <li>one HIT result per line</li>
          <li>values in each line are tab-delimited</li>
          <li>everything encoded in UTF-8.</li>
        </ul>
      </p>
    </td>
  </tr></tbody></table>
</div>

{% endblock %}
